@font-face {
    font-family: 'montserrat';
    src: url('font/montserrat.ttf') format('ttf');
}

body {
    font-family: 'montserrat';
    margin: 0;
    padding: 0;
    background-color: #fff;
    scroll-behavior: smooth;
}


/* NAVIGATION */


.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0;
    padding: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
}

.logo {
    width: 50px;
    height: 50px;
    display: block;
    margin-left: 30px;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    font-size: 50px;
    line-height: inherit;
    white-space: nowrap;
  }
  
  .logo:hover, .logo:focus {
    text-decoration: none;
  }  

@media (max-width: 768px) {
    .logo {
        width: 40px;
        margin-left: 10px;
    }
}

.hamburger {
    display: none;
    cursor: pointer;
    font-size: 35px;
    margin-right: 20px;
}


@media (max-width: 830px) {
    .nav {
        display: block;
        position: fixed;
        top: 50px;
        right: 0;
        background-color: #fff;
        width: 100%;
        display: none;
    }

    .nav.active {
        display: block;
        position: fixed;
        text-align: center;
    }

    .hamburger {
        display: block;
    }

    .nav ul {
        flex-direction: column;
        list-style: none;
        padding: 0;
    }

    .nav li {
        border-bottom: 1px solid #000;
    }
    
    .nav li:last-child {
        border-bottom: none;
    }

    .nav ul li {
        margin: 0 0;
    }

    .nav a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: #000;
    }
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0; 
    z-index: 1000; 
    width: 100%; 
    background: #fff;
    color: #000;
    margin-right: 0px;
    padding-top: 0px
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    right: 0;
}

nav ul li {
    display: inline;
    margin: 0 5px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #fc5c7d;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
    color: #000
}

nav a.active {
    background-color: #007bff;
    color: white;
    border-radius: 15px;
}


/* All Settings */


h1 {
    font-size: 3.5rem;
}

@media (max-width: 1200px) {
    h1 {
        font-size: 3rem;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 2rem;
    }
}

h2 {
    font-size: 2rem;
}

@media (max-width: 1200px) {
    h2 {
        font-size: 1.8rem;
    }
}

@media (max-width: 768px) {
    h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 1.2rem
    }
}

p {
    font-size: 1rem;
}

@media (max-width: 1200px) {
    p {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    p {
        font-size: 0.8rem;
    }
}

@media (max-width: 480px) {
    p {
        font-size: 0.8rem
    }
}

.colorful-section {
    padding: 50px;
    margin: 10px 10px;
    border-radius: 8px;
    color: #fff;
    scroll-margin-top: 63px;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    max-width: 100%;
    height: auto;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

section.visible {
    opacity: 1;
}


@media (max-width: 768px) {
    .colorful-section {
        padding: 30px;
        margin: 5px;
    }
}

@media (max-width: 480px) {
    .colorful-section {
        padding: 20px;
    }
}

.colorful-section h1 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.colorful-section h2 {
    margin-top: 10px;
    margin-bottom: 5px;
    padding-bottom: 1px;
}

.colorful-section p {
    margin: 10px 0;
    padding-top: 1px;
}

.social-icons {
    display: flex;
    justify-content: left;
    gap: 20px;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .social-icons {
        gap: 10px;
    }
}

@media (max-width: 480px) {
    .social-icons {
        gap: 5px;
    }
}

.social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    gap: 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 50%;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 20px;
}

.social-icon:hover {
    background-color: #fc5c7d;
    transform: scale(1.1);
}

.social-icon svg {
    width: 20px;
    height: 20px;
    fill: white;
}


/* HEADER BACKGROUND */


.header-background {
    padding: 0px;
    border-radius: 8px;
    color: #fff;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    max-width: 100%;
    height: 60;
}

#header-background {
    background: linear-gradient(135deg, #fff, #fff);
    color: #000;
    padding: 30px;
    position: sticky;
    top: 10;
    animation: colorChange 3s infinite;
    max-width: 100%;
}


/* HOME */


#home {
    background: #fff;
    color: #000;
    border: 8px solid #5f5f6f;
    border-radius: 8px;
    padding: 30px;
    position: sticky;
    top: 10;
    max-width: 100%;
}

.home-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    padding: 0px;
}

.home-info {
    width: 65%;
}

.home-my-info {
    margin-bottom: 20px;
    width: 100%;
}
.home-my-info p {
    margin: 0px;
}

.home-my-info h1 {
    margin-top: 1px;
    margin-bottom: 1px;
}

.colorful-section h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.home-avatar-image {
    max-width: 100%;
    max-width: 400px;
    height: 300;
    margin: 0;
    -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 0px;
}


/* ABOUT */


#about {
    background: linear-gradient(135deg, #6a82fb, #fc5c7d);
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    padding: 0px 0px;
    overflow: hidden;
    flex-wrap: wrap;
    flex-direction: row;
}

@media (max-width: 800px) {
    .about-container {
        flex-direction: column;
        gap: 10px;
    }
}

.about-info {
    padding: 0px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


@media (max-width: 800px) {
    .about-info {
        width: 100%;
        align-self: center;
        justify-content: center;
    }
}

.about-my-image-container {
    display: flex;
    align-items: center;
    width: 35%;
    max-width: 100%;
}


@media (max-width: 800px) {
    .about-my-image-container {
        width: 100%;
        align-self: center;
        justify-content: center;
    }
}

.about-my-image {
    width: 35%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 0;
    -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 0px;
}


@media (max-width: 768px) {
    .my-image {
        max-width: 80%;
        align-self: center;
    }
}


/* EXPERIENCES*/


#experiences {
    background: linear-gradient(135deg, #6a82fb, #fc5c7d);
    padding-bottom: 10px;
    padding-top: 15px;
    /* animation: gradientAnimation 5s ease infinite; */
    /* background-size: 400% 400%; */
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center;

}

.card {
    background-color: rgba(0, 0, 0, 0.181);
    border: 1px solid rgba(204, 204, 204, 0.8);
    border-radius: 8px;
    padding: 20px 0px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 15px;
}


@media (min-width: 600px) {
    .card {
        width: 45%;
    }
}

@media (min-width: 900px) {
    .card {
        width: 22%;
    }
}
.card-icon {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 10px;
}

.card:hover {
    transform: translateY(-15px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


/* SKILLS */


#skills {
    background: linear-gradient(135deg, #6a82fb, #fc5c7d);
    padding-bottom: 20px;
    padding-top: 15px;
}

.column {
    flex: 1 1 45%;
}

.progress-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 20px;
}

.progress {
    width: 80%;
    background-color: #d4d4d4;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 60px;
}

.progress-bar {
    height: 10px;
    background-color: #4caf50;
    text-align: center;
    line-height: 10px;
    color: white;
}


/* PORTFOLIO */


#portfolio {
    background: linear-gradient(135deg, #6a82fb, #fc5c7d);
    padding-bottom: 20px;
    padding-top: 15px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 1200px;
    margin: auto;
    padding-top: 10px;
}

@media (max-width: 600px) {
    .gallery {
        gap: 5px;
    }
}

.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.gallery-item img {
    width: 100%;
    display: block;
    border-radius: 8px;
    transition: transform 0.3s;
}

.gallery-item:hover img {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    padding: 0px 10px;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: top 0.3s;
    text-align: center;
}

.gallery-item:hover .overlay {
    top: 0;
}

.overlay h3 {
    margin: 0;
    font-size: 1.5em;
}

.overlay a {
    color: #ffcc00;
    text-decoration: none;
    margin-top: 10px;
    font-size: 1em;
}

.overlay a:hover {
    text-decoration: underline;
}


/* TESTIMONIAL */


#testimonial {
    background: linear-gradient(135deg, #6a82fb, #fc5c7d);
    padding-bottom: 10px;
    padding-top: 15px;
}

.carousel {
    position: relative;
    max-width: 821.6px;
    margin: auto;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.carousel-item {
    display: none;
    text-align: center;
}

.carousel-item.active {
    display: block;
}

.carousel-item img {
    width: 100%;
    height: 100px;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.indicators {
    text-align: center;
    margin-top: 10px;
}

.indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: lightgray;
    cursor: pointer;
}


.indicator:hover {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
}

.indicator.active {
    background-color: gray;
}

.card-carousel {
    background-color: rgba(0, 0, 0, 0.181);
    border: 1px solid rgba(204, 204, 204, 0.8);
    border-radius: 8px;
    padding: 20px 40px;
    padding-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 800px;
    height: auto;
    min-height: 210px;
    max-height: 1000px;
    align-items: center;
    justify-content: center;
}


/* CONTACT */


#contact {
    background: linear-gradient(135deg, #6a82fb, #fc5c7d);
    text-align: center;
    padding-bottom: 10px;
    padding-top: 5px;
}

.contact-info {
    margin-top: 10px;
    width: 65%;
}

.contact-container {
    display: flex;
    align-items: center;
    padding-top: 5px;
    justify-content: space-between;
    overflow: hidden;
    flex-wrap: wrap;
    flex-direction: row;
}

@media (max-width: 395px) {
    .contact-container {
        flex-direction: column;
    }
}

.contactme-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.project {
    background: rgba(255, 255, 255, 0.1);
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
}


/* FOOTER */


footer {
    text-align: center;
    padding: 8px 0;
    background: #333;
    color: #fff;
    height: 20px;
}

@media (max-width: 395px) {
    footer {
        height: 10px;
        text-align: center;
        justify-content: center;
        padding: 7px 0;
        
    }
}

footer p {
    margin-top: 0;
}
